// theme
$theme = '.theme-track--'
$baseFontSize= 16px

// colors
$accentColor = #3eaf7c
$textColor = #303030
$postColor = #ac3e40
$viceTextColor = #6d6d6d
$borderColor = #ebebeb
$focusColor = #3eaf7c
$codeBgColor = #282c34
$bgColor = #ffffff
$darkBgColor = #fafafa

// layout
$navbarHeight = 3.75rem
$sidebarWidth = 20rem
$contentWidth = 740px
$footerHeight = 32px

// responsive breakpoints
$MQNarrow = 959px // pad
$MQMobile = 719px // mobile
$MQMobileNarrow = 419px

// global 
$appWidth = 1000px
$toolWidth = 16rem
$pageWidth = 43rem